@import "@/custom.scss";
@import "@/utils.scss";
#register {
  .authentication-modal {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    .already-have-an-account {
      display: block;
      text-align: center;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
