@import "@/custom.scss";
@import "@/utils.scss";
@import "@components/Modal/modal.scss";
@import "@components/Forms/forms.scss";
#sign-up {
  @include gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    padding: 0.5rem 5rem;
    height: fit-content;
    min-width: 50%;
    button[type="submit"] {
      width: 100%;
    }
    .already-have-an-account {
      display: block;
      text-align: center;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
