@import "@/custom";
.question-placeholder {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease;
  text-decoration: none;
  font-size: 1.25rem;
  color: #111;
  &:hover {
    background-color: tint-color($primary, 80%);
  }
}
