@import "@/custom.scss";
@import "@/utils.scss";

#login {
  .authentication-modal {
    #modal-regsiter {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
    .forgotten-password {
      display: block;
      text-align: center;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
