@import "@/custom.scss";
@import "@/utils.scss";

#student-dashboard {
  @include gradient;
  .container {
    .row {
      margin-bottom: 3rem;
      .welcoming-user {
        span {
          h2 {
            margin-bottom: 0rem;
          }
        }
        margin-bottom: 2rem;
      }
    }
  }
}
