<h3>Login</h3>

<form method="POST" action="">
	{% csrf_token %}
	
	<label for="username">Username </label>
  	<input type="text" id="username" name="username">
	
	<br><br>
	
	<label for="password">Password </label>
  	<input type="password" id="password" name="password">
	
	<br><br>
	
	{%	for message in messages %}
		<p id="messages">{{message}}</p>
	{% endfor %}
	
	<input type="submit" name="Login">
	<p>Don't have an account? <span><a  href="{% url 'register' %}">Register</a></span></p>
	<p>Forgot your password? <span><a  href="{% url 'reset_password' %}">Reset Password</a></span></p>
</form>