{% load exam_tags %}

<h3>Student Dashboard</h3>

<form method="POST" action="">
	{% csrf_token %}
	
	<p>Hello, {{request.user}}</p>
	
	<h2>Upcoming exams:</h2>
	<ul>
	{% for exam in upcoming_exams.all %}
		<li>
			{{exam}}
		</li>
	{% endfor %}
	</ul>
	
	<br>
	<h2>Available exams:</h2>
	<ul>
	{% for exam in available_exams.all %}
		<li>
			<a href="{% url 'begin_exam' exam|hash %}">{{exam}}</a>
		</li>
	{% endfor %}
	</ul>
	
	<br>
	<h2>Exams history: (it's up to the examiner whether or not the exam is saved in your history)</h2>
	<ul>	
	{% for exam_hash, exam_data in exams_history.items %}
		<li>
			<a href="{% url 'results' exam_hash %}">{{exam_data.exam_name}}</a>
		</li>
	{% endfor %}
	</ul>
	<br>
	
	<span><a  href="{% url 'logout' %}">Logout</a></span>
</form>