@import "@/custom.scss";
@import "@/utils.scss";
@import "@components/Modal/modal.scss";

#reset-password-email {
  @include gradient;
  display: flex;
  justify-content: center;

  .modal {
    padding: 2rem 5rem;
    margin-top: 2rem;
    height: fit-content;
    width: 50%;
  }
  button[type="submit"] {
    width: 100%;
  }
}
