@import "@/custom";
@import "@bootstrap/scss/spinners";
.loading {
  background-color: inherit;
  height: 100%;
  .spinner-border {
    $dimensions: 4rem;
    width: $dimensions;
    height: $dimensions;
    margin-right: 0.5rem;
  }
}
